body{
    background-color: black;
    font-family: 'Anton', sans-serif;
}
#main-container{
    width: 100%;
    background-color: rgb(95, 95, 109);
    color: rgb(226, 139, 139);
    display: inline-flex;
    min-height: 98vh;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap
}
header{
    display: inline-flex;
    height: 5vh;
    background-color: rgb(60, 65, 65);
    width: 100%;
    font-weight: 100;
    letter-spacing: .1ch; 
    position: fixed;
    top: 2px;
    left:0;
}
#header-text{
font-size: 1.8rem;
position: fixed;
left: 2%;
top: 0vh;
line-height: .75;
color: rgb(226, 139, 139);
}
#add-a-card-button{
    width: auto;
    background-color: rgba(250, 235, 215, 0);
    position: fixed;
    right: 2%;
    height: 4.8vh;
    color:azure;
    top:.2vh;
}
#decks-div{
    display: inline-flex;
    position: fixed;
    bottom: 95vh;
    left: 0vw;
    z-index:1;
    width: 100vw;
    justify-content: center;
}
.decks{
    position: relative;
    width: 5vw;
    height: 5vh;
    background-color: rgb(60, 65, 65);
color: rgb(226, 139, 139);
}
span{
    font-size: 1.8rem;
    line-height: .1;
}
#pop-up-container{
    width: 80%;
    background-color: rgb(148, 148, 151);
    color: rgb(226, 139, 139);
    display: inline-flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: -1;
    top: 10%;
    left:10%;
    height: 80vh;
}
label{
    font-size: 1.6rem;
    margin-top: 5vh;
    margin-bottom: 10px;
    color: rgb(235, 120, 120);
    text-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
}
#exit-button{
    position: fixed;
    top: 10.3vh;
    right: 10.3vw;
}
#small-text{
    text-shadow: 10px 10px 10px rgba(0,0,0, 0.5);

}
#save-button{
    margin-top: 50px;
    height: 30px;
    border-radius: 1%;
    box-shadow: 3px 3px 10px rgba(0,0,0, .5);
}
#save-button:hover{
    margin-top: 50px;
    height: 30px;
    border-radius: 1%;
    box-shadow: 3px 3px 10px rgba(218, 82, 82, 0.5);
    cursor: pointer;
    transform: translate(1px, 1px)
}
input[type="text"]{
    height: 40px;
    width: 50vw;
    background-color: rgb(83, 79, 79);
    color: rgb(241, 233, 233);
    font-size: 1.1rem;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: .1ch;
    margin-bottom: 2vh;
}
.card {
    display: inline-flex;
    margin-top: 1.5vh;
    background-color: rgb(60, 65, 65);
    min-width: 90vw;
    height: 92vh;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1%;
    margin-top: 4.5vh;
    justify-content: center;
    position: relative;
    left: 0vw;
    z-index: 1;
    animation: none;
}

@keyframes slideCardLeft {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    50% {
      transform: translateX(-150%);
      opacity: 0;
    }
    75% {
      transform: translateX(150%);
      opacity: 0;
    }
    85%{
        transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}
@keyframes slideCardRight {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    50% {
      transform: translateX(150%);
      opacity: 0;
    }
    75% {
      transform: translateX(-150%);
      opacity: 0;
    }
    85%{
        transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.card-text{
    margin-top: 2vh;
    font-size: 1.6rem;
    animation: fadeIn 1s ease-in-out;
}
#sets-completed{
    font-size:19rem;
    line-height: .1;
}
#card-top-line{
    margin-top: 80px;
}
#tally-plus-button, #tally-minus-button{
    font-size: 3.8rem;
    background-color: rgba(27, 27, 27, 0.089);
    color: rgb(235, 120, 120);
    box-shadow: 3px 3px 10px rgba(0,0,0, .5);
    width: 100px;
}
#tally-plus-button:hover, #tally-minus-button:hover{
    font-size: 3.8rem;
    box-shadow: 3px 3px 10px rgba(218, 82, 82, 0.5);
    cursor: pointer;
    transform: translate(1px, 1px);
}
#prev-button{
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    z-index: 1;
}
#next-button{
    position: fixed;
    bottom: 10vh;
    right:10vw;
    z-index: 1;

}
#edit-card-button{
    position: fixed;
    bottom: 10vh;
    left: 40vw;
    right: 40vw;
    background-color: rgba(27, 27, 27, 0.089);
    color: rgb(235, 120, 120);
    box-shadow: 3px 3px 10px rgba(0,0,0, .5);
    z-index: 1;

}
#delete-card-button{
    position: fixed;
    bottom: 15vh;
    left: 40vw;
    right: 40vw;
    background-color: rgba(27, 27, 27, 0.089);
    color: rgb(235, 120, 120);
    box-shadow: 3px 3px 10px rgba(0,0,0, .5);
}
#edit-card-button:hover, #delete-card-button:hover{
    box-shadow: 3px 3px 10px rgba(218, 82, 82, 0.5);
    cursor: pointer;
    transform: translate(1px, 1px);
}
.bottom-buttons{
    background-color: rgba(27, 27, 27, 0.089);
    color: rgb(235, 120, 120);
    box-shadow: 3px 3px 10px rgba(0,0,0, .5);
    
}
.bottom-buttons:hover{
    box-shadow: 3px 3px 10px rgba(218, 82, 82, 0.5);
    cursor: pointer;
    transform: translate(1px, 1px);
}
#clear-cards-button{
    position: fixed;
    bottom: 95vh;
    left: 40vw;
    width: 10vw;
    background-color: rgba(250, 235, 215, 0);
    position: fixed;
    right: 2%;
    height: 4.8vh;
    color:azure;
    
}
@media screen and (orientation: portrait) {
    .card{
        top: -20px;
        margin-top: -12px;
        height: 80vh;
    }
    #header-text {
      top:-24px;
      line-height: 1.5;
    }
    .card-text{
        margin-top: 1vh;
        font-size: 1.6rem;
    }
    #sets-completed{
        font-size:3rem;
        line-height: .1;
    }
    #add-a-card-button{
        width: auto;
        background-color: rgba(250, 235, 215, 0);
        position: fixed;
        right: 2%;
        height: 4.8vh;
        color:azure;
        top:.2vh;
        font-size: .5rem;
    }
    span{
        font-size: 1.8rem;
        line-height: .5;
    }
    #edit-card-button{
        position: fixed;
        bottom: 6.5vh;
        left: 10vw;
        width: 100px;
    }
    #delete-card-button{
        position: fixed;
        bottom: 5vh;
        left:64vw;
        width: 100px;
    }
    #save-button{
        margin-top: 10px;
        
    }
    #clear-cards-button{
        position: fixed;
        bottom: 10px;
        left: 37vw;
        width: 100px;
    }
    #decks-div{
       bottom: 0vh;
    }
    .decks{
        width: 25vw;
        background-color: rgb(60, 65, 65);
    color: rgb(226, 139, 139);

    }
    #pop-up-container{
        top:5vh;
    }
    #save-button{
        margin-bottom: 5px;
    }
    #exit-button{
        top: 5.5vh;
        right: 11vw;
    }
  }
 